---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Home">
  <h1 class="text-3xl font-bold text-center mt-8">Welcome to My Blog</h1>
  <p class="text-center mt-4">Sign up or log in to create and view posts!</p>
</Layout>